.Txt{ 
    background-color:#701DDB ;
    
    color: aliceblue;
    }



.contain{
    background: url(../Img/Head.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    justify-content: center;
    align-items: center;    
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


@media (max-width: 600px) {
    .contain{
        background: url(../Img/Head.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 25vh;
    
    }
    
}


